<h2>Create</h2>
<form class='form'>
<div  class=' form-group'>
<label  class=' label'>Name</label>
<input  class=' input form-control' placeholder='Type here your name' name=input_template-ifvf [(ngModel)]="details.name" [ngModelOptions]="{standalone: true}"/>
</div>
<div  class=' form-group'>
<label  class=' label'>Email</label>
<input  class=' input form-control' type='email' placeholder='Type here your email' name=input_template-i3mg [(ngModel)]="details.email" [ngModelOptions]="{standalone: true}"/>
</div>
<div  class=' form-group'>
<button  class=' button btn btn-primary' type='submit' name=button_template-iwq86 (click)="GpCreate()">Create</button>
</div>
</form>